{{define "content" -}}
            <div class="container position-relative h-75">
                <div class="position-absolute bottom-50 start-0 w-100 translate-middle-y">
                    <div class="row">
                        <div class="col col-md-8 col-lg-6 mx-auto">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter message" aria-label="Enter message" aria-describedby="button-send" />
                                    <button class="btn btn-success" type="submit" id="button-send">Send</button>
                                </div>
                            </form>
                        </div>    
                    </div>
                </div>
                <div id="notifications" class="position-absolute top-0 start-0 w-100">
                    <div class="row">
                        <div class="col col-md-8 col-lg-6 mx-auto"></div>
                    </div>
                </div>
            </div>
{{- end}}