<!doctype html>
<html lang="en">
    <head>
        <title>Microservices</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/build/style.css">
    </head>
    <body>
        <div id="root" class="vh-100">
            <nav class="navbar navbar-expand navbar-light bg-transparent">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/messages">Messages</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container position-relative h-75">
                <div class="position-absolute bottom-50 start-0 w-100 translate-middle-y">
                    <div class="row">
                        <div class="col col-md-8 col-lg-6 mx-auto">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter message" aria-label="Enter message" aria-describedby="button-send" />
                                    <button class="btn btn-success" type="submit" id="button-send">Send</button>
                                </div>
                            </form>
                        </div>    
                    </div>
                </div>
                <div id="notifications" class="position-absolute top-0 start-0 w-100">
                    <div class="row">
                        <div class="col col-md-8 col-lg-6 mx-auto"></div>
                    </div>
                </div>
            </div>
       </div>
       <script src="http://127.0.0.1:8000/index.js"></script>
       <!-- <script src="static/build/index.js"></script> -->
    </body>
</html>
